<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en" ng-app="easyshow-app"> <!--<![endif]-->
	<head>
		<title>Easyshow Scan</title>
		<ng-include src="'head.html'">
		</ng-include>
		<script src="./js/libs/angular/angular.min.js"></script>
		<script src="./js/libs/angular/app.js"></script>
		<script src="./js/libs/angular/controllers.js"></script>
		<script src="./js/libs/angular/services.js"></script>
		<script src="./js/libs/angular/angular-resource.min.js"></script>
		<link rel="stylesheet" href="./css/stylePerso.css">
	</head>
	<body class="blog faq soundbyte" ng-controller="scanController">
	    <header id="masthead-progression" class="site-header-progression" ng-include src="'header.html'"></header>	
			
	    <div class="clearfix-progression"></div>				
	
	    <div id="main">
	    	
	        <div class="width-container-progression">

	            <div class="ls-sc-toggle" ng-repeat="(showName, listShows) in shows">
            		<h3 class="ls-sc-toggle-trigger toggle-scan">{{showName}}</h3>
            		
               		<div class="ls-sc-toggle-container">
						<div ng-repeat="show in listShows.listSeries">
							<input type="radio" ng-model="listShows.selectedShow" ng-value="show" id="{{show.seriesName}}" name="{{showName}}" value="{{show.id}}">
							<label class="showsChoice" for="{{show.seriesName}}">{{show.seriesName}}</label>
						</div>
					</div>
	            </div>
				<button ng-if="shows" type="button" id="showsButton" data-processing-text="Processing..." ng-click="addShowsToBDD(shows)" class="ls-sc-button default"  >
				  Add
				</button>
				
				<div id="myModal" class="modal">
				  <div class="modal-content">
				    <img src="./css/spinner.svg" class="spinner-img">
				  </div>
				</div>
				
	            <div class="clearfix-progression"></div>
	        </div> 
	    </div>       
	
	    <div class="highlight-section-progression">
	        <div class="width-container-progression">
	            <h2 class="highlight-title-progression">Support the show</h2>
	            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.</p>
	            <a class="ls-sc-button default" href="donate.html">Make a dontation</a>
	        </div>
	    </div>
	    <footer id="site-footer" ng-include src="'footer.html'"></footer>
	    
	    <script src="./js/libs/jquery-2.2.3.js"></script>	
		<script src="./js/libs/jquery-migrate.min.js"></script>
		<script src="./js/libs/modernizr-2.6.2.min.js"></script>
		
		<script src="./js/plugins.js"></script>
		<script src="./js/script.js"></script>
		<script src="./js/libs/jquery-ui.min.js"></script>
		<script src="./js/libs/bootstrap.min.js"></script>
	<script>
	   $(function() { 
	      $("#showsButton").click(function(){
	         $(this).button('loading').delay(1000).queue(function() {
	            // $(this).button('reset');
	         });        
	      });
	   });  
	</script>
	</body>
</html>